header {
    background-color: #7bcaff;
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;

    color: #2B2343;
    
}

.logo {
    margin: .5em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}
.header-right-side {
    justify-content: flex-end;
    padding: .5em .5em .5em 15em;
   
}

.header-link {
    color: #ffffff;
    text-decoration-style: solid;
    text-decoration: white;
}

main {
    display: flex;
}

.main-left-side {
    background: #FFFFFF;
    border: 3px solid #D3EEFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 2em;
    width: 25vw;
    padding-left: 2em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #2B2343;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  /* .right-side-results-list {
    width: 60vw;

  } */

  .therapist-search-results-card {
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 1em;
    width: 60vw;
    background: #FFFFFF;
    border: 0.2px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .results-card-left-side {
      width: 25%;
      padding: .5em;
  }
  .results-card-center {
      padding: 2em;
      width: 45%;
      flex-direction: column;
  }

  .results-card-right-side{
      width: 25%;
padding-left: 1em;
  }

  .online-toggle {
      display: flex;
  }

  #offline-dot {
      height: 20px;
      padding-right: .5em;
  }

  .date-text {
      font-size: x-small;
  }

.card-connect-btn {
    display: flex;
    flex-direction: column;
}
  
  .btn-connect {
    background: #6C63FF;
    color: #ffffff;
    border: 1px solid #6C63FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 50%;
    margin: 30px;
  }

  .readmore-link {
      text-decoration: underline;
      padding-right: 3em;
  }

  footer {
    height: 5%;
    background-color: #2F264A;
    color: white;
  }